html {
  height: 100%;
}

body {
  height: auto;
  width: 100%;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$BG: #fff;

// 浏览器滚动条美化
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $T2 $BG;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: $T2;
  border-radius: 10px;
  border: 2px solid #fff;
}